<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kurs_Project_var25.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kurs_Project_var25.Properties.Settings>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="BaudRateIndex" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="InBuffer" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="OutBuffer" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="ComNameIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Restore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutomatedGet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadTimeout" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="WriteTimeout" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="TestValue" serializeAs="String">
                <value>False</value>
            </setting>
        </Kurs_Project_var25.Properties.Settings>
    </userSettings>
</configuration>